.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  color: #ffffff;
  text-shadow: -1px 1px 2px rgb(38, 0, 255),
    1px 1px 1px rgb(85, 0, 255),
    1px -1px 0 rgb(0, 38, 255),
    -1px -1px 0 rgb(0, 149, 255);
  background-image: url('/public/jellyfish-4923658_1920.jpg');
  background-size: 400cqmin;
  font-family: 'Metamorphous', cursive;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

#itsame {
  width: 15vw;
  max-width: 30vw;
  justify-content: center;
  --glow-color: rgb(55, 58, 250);
  --glow-spread-color: rgba(58, 67, 254, 0.781);
  --enhanced-glow-color: rgb(25, 0, 250);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 33%;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  transition: all 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.33);
}

button {
  padding: 2px, 5px, 10px, 5px;
  flex-wrap: wrap;
  min-width: 3vmin;
  --glow-color: rgb(55, 58, 250);
  --glow-spread-color: rgba(58, 67, 254, 0.781);
  --enhanced-glow-color: rgb(25, 0, 250);
  --btn-color: rgb(0, 0, 0);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  font-size: 3vmin;
  font-family: 'Macondo', cursive;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 33%;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  transition: all 0.3s;
}

#download {
  padding: 10px;
  margin: 10px;
}

#downloadbtn:hover {
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
  min-width: 20vw;
  color: white;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset
}

#signature {
  max-width: 12vw;
  padding-left: 15px;
  padding-top: 15px;
}

#sigbtn {
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

#resume {
  margin-top: 50px;
  width: auto;
  height: 75vmax;
  min-width: 55vw;
  padding: 10px;
  justify-self: center;
}

.contacticons {
  display: flex;
  flex-direction: column;
  width: 15vmax;
  margin: auto;
  margin-top: 6vmax;
  margin-bottom: 3vmax;
  padding: 23px;
  align-content: center;
  --glow-color: rgb(55, 58, 250);
  --glow-spread-color: rgba(58, 67, 254, 0.781);
  --enhanced-glow-color: rgb(25, 0, 250);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 50%;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  transition: all 0.3s;
}

.contacticons:hover {
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

#footer {
  margin: 100px 0 0 0;
  padding: 5px 0 0 0;
  background-color: rgba(0, 0, 0, 0.33);
}

h1 {
  font-size: 5vw;
  text-shadow: 0 0 5px #0066ff, 0 0 15px #1100ff, 0 0 20px #6200ff, 0 0 40px #9900ff, 0 0 60px #2600ff, 0 0 10px #6f00ff, 0 0 98px #2600ff;
  color: #6380ff;
  text-align: center;
}

/* h2 {
  font-size: 3vmax, 2.5vmin;
}

h3 {
  font-size: 2.25vmax, 2vmin;

}

h4 {
  font-size: 2vmax, 1.5vmin;
}

h5 {
  font-size: 1.75vmax, 1.25vmin;
}

p {
  font-size: 2vmax, 1.5vmin;
}

h6 {
  font-size: 1.5vmax, 1vmin;
} */

#references {
  text-shadow: 0 0 5px #0066ff, 0 0 15px #1100ff, 0 0 20px #6200ff, 0 0 40px #9900ff, 0 0 60px #2600ff, 0 0 10px #6f00ff, 0 0 98px #2600ff;
  color: #6380ff;
  text-align: center;
}

#resume-btn {
  margin: 40px
}

a {
  color: #00c3ff;
}

a:hover {
  color: #ffffff;
}

a:link {
  color: #1100ff;
}

a:visited {
  color: #1100ff;
}

.image-details {
  width: 35vmax;
}

.btn-details-div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.details-title-desc {
  margin-bottom: 55px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.jellyarrow {
  width: 6vmin;
  max-width: 10vmax;
  position: sticky;
  bottom: 10px;
  margin-left: 90%;
  place-self: end;
  margin-top: 1vh;
  text-decoration: none;
  padding: 10px;
  color: #00c3ff;
  --glow-color: rgba(73, 108, 222, 0.519);
  --glow-spread-color: rgba(100, 103, 255, 1);
  --enhanced-glow-color: rgba(235, 236, 246, 1);
  border: .25em var(--glow-color);
  border-radius: 50%;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  transition: all 0.3s;
  white-space: nowrap;
}

.jellyarrow:hover {
  background-color: var(--enhanced-glow-color);
  box-shadow: 0 0 1em 1em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em 2em var(--glow-color);
  width: 7vmin;
  max-width: 11vmax;
}

.home,
.preview,
.details,
.about,
.contact-git,
.contact-linked,
.contact-mail,
.resume-pg {
  background-color: rgba(0, 0, 0, 0.33);
  margin: 10px;
  padding: 15px;
}

.home-all,
.all-preview,
.all-detail,
.about-all,
.contact-all,
.resume-all {
  margin: 10px;
  padding: 10px;
}

a.resume-icon:link,
a.resume-icon:active,
a.resume-icon:visited {
  color: #ffffff;
}