.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  color: #ffffff;
  text-shadow: -1px 1px 2px rgb(0, 0, 0),
    1px 1px 1px rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0);
  background-image: url('/public/jellyfish-4923658_1920.jpg');
  font-family: 'Michroma', sans-serif;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

#itsame {
  max-width: 25vw;
  justify-content: center;
  --glow-color: rgb(55, 58, 250);
  --glow-spread-color: rgba(58, 67, 254, 0.781);
  --enhanced-glow-color: rgb(25, 0, 250);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 33%;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  transition: all 0.3s;
}

#itsame:hover {
  max-width: 35vw;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

nav {
  display: flex;
  justify-content: space-between;
  border: white 1px dotted;
  padding-bottom: 10px;
}

button {
  min-width: 15vw;
  --glow-color: rgb(55, 58, 250);
  --glow-spread-color: rgba(58, 67, 254, 0.781);
  --enhanced-glow-color: rgb(25, 0, 250);
  --btn-color: rgb(0, 0, 0);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  font-size: 2vmax;
  font-family: 'Michroma', sans-serif;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 33%;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  transition: all 0.3s;
}

#download {
  padding: 10px;
  margin: 10px;
}

#downloadbtn:hover {
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
  min-width: 20vw;
  color: white;
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset
}

#signature {
  max-width: 12vw;
  padding-left: 15px;
  padding-top: 15px;
}

#sigbtn {
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#resume {
  margin-top: 50px;
  width: auto;
  height: 425px;
  min-width: 50vw;
  padding: 10px;
}

.contacticons {
  display: flex;
  flex-direction: column;
  width: 20vmax;
  margin: auto;
  margin-top: 6vmax;
  padding: 23px;
  align-content: center;
  --glow-color: rgb(55, 58, 250);
  --glow-spread-color: rgba(58, 67, 254, 0.781);
  --enhanced-glow-color: rgb(25, 0, 250);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 50%;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  transition: all 0.3s;
}

.contacticons:hover {
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

#footer {
  margin: 100px 0 0 0;
  padding: 5px 0 0 0;
  border: 1px white dotted;
}

h1 {
  font-size: 5vw;
  text-shadow: 0 0 5px #0066ff, 0 0 15px #1100ff, 0 0 20px #6200ff, 0 0 40px #9900ff, 0 0 60px #2600ff, 0 0 10px #6f00ff, 0 0 98px #2600ff;
  color: #6380ff;
  text-align: center;
}

#references {
  text-shadow: 0 0 5px #0066ff, 0 0 15px #1100ff, 0 0 20px #6200ff, 0 0 40px #9900ff, 0 0 60px #2600ff, 0 0 10px #6f00ff, 0 0 98px #2600ff;
  color: #6380ff;
  text-align: center;
}

#resume-btn {
  margin: 40px
}

a {
  color: #00c3ff;
}

a:hover {
  color: #ffffff;
}

a:link {
  color: #1100ff;
}

a:visited {
  color: #1100ff;
}

.image-details {
  width: 35vmax;
}

.btn-details-div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.all-detail {
  margin-top: 40px;
}

.details-title-desc {
  margin-bottom: 55px;
}


.jellyarrow {
  width: 5vmax;
  --offset: 20px;
  position: sticky;
  bottom: 20px;
  margin-left: 90%;
  place-self: end;
  margin-top: calc(20vh + var(--offset));
  text-decoration: none;
  padding: 10px;
  color: #00c3ff;
  --glow-color: rgba(73, 108, 222, 0.519);
  --glow-spread-color: rgba(100, 103, 255, 1);
  --enhanced-glow-color: rgba(235, 236, 246, 1);
  border: .25em var(--glow-color);
  border-radius: 50%;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  transition: all 0.3s;
  white-space: nowrap;
}

.jellyarrow:hover {
  background-color: var(--enhanced-glow-color);
  box-shadow: 0 0 1em 1em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em 2em var(--glow-color);
  width: 6vmax;
}